<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.vanpraag.miso.Somnolence</string>
    
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
        <string>fetch</string>
        <string>processing</string>
    </array>
    
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER).refresh</string>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER).processing</string>
    </array>
    
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
        <string>background-audio</string>
    </array>
    
    <key>UIBackgroundModes-audio</key>
    <true/>
</dict>
</plist>